<div id="album_info">
	<h3>Now Playing:</h3>
	<img class="album_art" src="http://2.bp.blogspot.com/-8iOMD241Ypo/Tjve9ESye7I/AAAAAAAAEIg/VUwqNiWcR9w/s1600/The+Shins+-+Oh%252C+Inverted+World+-+2001.jpg"/>
	<p>Girl Inform Me</p>
	<p>The Shins</p>
	<p>Oh, Inverted World</p>
</div>
<div id="upload_box">
	<p>Drag something here to play it</p>
</div>