<div class="row about">
<h4>Inspiration</h4>
<p>
Music should be passive. It shouldn't be something you have to work for.
In fact, why don't you let the people you trust do the work for you, and your friends!
That's why we made revelationrad.io. Streamlined, fun radio and shared listening.
</p>
<div class="right icon inspiration">!</div>
</div>
<div class="row about">
<h4>What is revelationrad.io?</h4>
<p>
Revelation Radio is a way to create your own radio station and share it with your friends.
Simply make a station, upload some songs, and anyone with the link can listen in. Best thing?
Don't make an account. We hate that. We're all about saving you time (and energy) so you can
enjoy the fun things in life - like sleeping, eating, and music!
</p>
<div class="right icon question">?</div>
</div>
<div class="row about last">
<h4>Technologies</h4>
<p>Revelation Radio is built from the ground up using swagged out Ruby on Rails, jPlayer, some super chill HTML and CSS, and lots of food. We use some APIs too: Echo Nest, VoiceBunny, and Paypal Developer.</p>
<div class="right icon tech">&#123;</div>
</div>