/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/


/* 1. RESET
----------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html { 
  overflow-y: scroll;
  background: #FFF;
  }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.618em;
  color: #333;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  }

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em; 
    
  }

h1 {
  font-size: 2em;
  margin: 0 0 0.67em 0;
  font-weight: 900;
}
h2 {
  font-size: 1.5em;
  margin: 0 0 0.6em 0;
}
h3 {
  font-size: 1.17em;
  margin: 0 0 .5em 0;
}
h4 {
  font-size: 1em;
  margin: 1em  0em 1em 0;
}
h5 {
  font-size: .83em;
  margin: 0 0 .17em 0;
}
h6 {
  font-size: .75em;
  margin: 0 0 .15em 0;
}
p {
  font-size: .6em;
  margin: 0 0 .2em 0;
  line-height: 140%;
}

ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 90%; color: #999;}


/* 4. LINKS
----------------------------------------------------------------------------------------*/
a, a:visited { font-size: .6em; outline: none; color: #999; text-decoration: none; }  
a:hover { outline: none; text-decoration:none; color: #C986A1; } 
a:active, a:focus { outline: none; }


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
h2.heading {
  margin-bottom: 100px;
}
.btn, .btn input {
  background: none;
  text-transform: uppercase;
  font-weight: 900;
  margin:40px;
}
.btn a, .btn input {
  padding: 10px;
  font-size: 1.17em;
  margin: 0 0 .5em 0;
}
.btn a:hover, .btn input:hover {
  font-size: 1.17em;
  margin: 0 0 .5em 0;
  cursor: pointer;
}
.btn-orange a, .btn-orange input{
  border: 4px solid #A959B8;
  border-radius: 5px;
  color: #A959B8;
  opacity: 0.6;
}
.btn-orange a:hover, .btn-orange input:hover {
  border-radius: 5px;
  opacity: 1;
}
.center {
  margin-left:auto;
  margin-right:auto;
}
.start {
  margin-top: 300px;
}

.dev {
  display: none;
}

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
#container {
    padding: 0.809em;
    max-width: 30em;
    margin: auto;
  }

aside { width: 100%; }


/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }